.wrapper {
   
    display: grid;
    row-gap: 20px;
    column-gap: 20px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
}
 
.video {
    grid-column: 1/2;
    grid-row: 1/2;
}
 
.form {
    grid-column: 2/3;
    grid-row: 1/2;
}
